<p>
    <strong>Starts on:</strong> 11 Sept 2022<br>
    <strong>Comprising of:</strong> 34 weeks; each term is about 14-20 weeks<br>
    <strong>Tuition:</strong> $700/year for 1st child; $650/year for the 2nd & 3rd child<br>
    <ol>
        <strong>School Levels:</strong>
        <li>Level 1: Age 5-6 years</li>
        <li>Level 2: Age 7-8 years</li>
        <li>Level 3: Age 9-10 years</li>
        <li>Level 4: Age 10-11 years</li>
        <li>Level 5: Pre-High Schoolers; Age 12-13 years</li>
        <li>Level 6: High Schoolers</li>
    </ol>
    <ul>
        <strong>Sunday School Hours:</strong>
        <li>1st Session: 10:00 - 10:55 AM</li>
        <li>2nd Session: 11:00 - 11:55 AM</li>
        <li>Break Time: 11:55 - 12:15 PM</li>
        <li>3rd Session: 12:15 - 01:15 PM</li>
        <p></p>
        <strong>Online School Hours</strong>
        <li>Fridays from 6:00 - 7:30 PM</li>
    </ul>
</p>
<!--
<p>
    <a class="btn btn-outline-primary" href="/school" role="button">Learn More 
        <i class="bi bi-arrow-right-short"></i></a>
</p>
-->
